#form_title{
    color: #4D538D;
}

#btn_submit{
    background-color: #7D6CF9;
    border-color: #7D6CF9;
}

#form_content{
    box-shadow: 0px 0px 7px 0px #6c6c6cd4;
}

#signo_image{
    text-align: center;
}

#name_user_signo{
    text-align: center;
}

#horoscopo{
    background: white;
    box-shadow: 0px 0px 7px 0px #6c6c6cd4;
}

/* body{
    background: #a261df;
    background-image: linear-gradient(to bottom right, #a261df, #cc61df); 
} */

#descricao{
    text-align: justify;
}